<div class="container-fluid">
  <div class="hero">
    <div class="max-width hero-language">
      <div class="ml-4 mr-4">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> EN</a>
            <div class="dropdown-menu" aria-labelledby="dropdown09">
              <a class="dropdown-item" href="#fr"><span class="flag-icon flag-icon-fr"> </span> FR</a>
              <a class="dropdown-item" href="#it"><span class="flag-icon flag-icon-it"> </span> IT</a>
              <a class="dropdown-item" href="#ru"><span class="flag-icon flag-icon-ru"> </span> RU</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <h1 class="hero-title">@lenguasdegato</h1>
    <h4 class="hero-subtitle">at Winchester</h4>

    <div class="row-fluid">
      <div class="text-center">

        <div class="hero-play">
          <a href="//vimeo.com/1084537" data-lity>
            <button class="hero-play-circle">
              <img class="hero-play-img" src="../assets/img/hero_play.png">
            </button>
            <h6 class="hero-play-text">play video</h6>
          </a>

        </div>
      </div>
    </div>

  </div>

  <div class="ml-4 mr-4">
    <div class="special-guest max-width">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h3>
              She was our special guest at Winchester and Brighton
            </h3>
          </div>
          <div class="col-md-7">
            <p>
              Maecenas fringilla finibus bibendum. Proin a malesuada velit. Integer tincidunt pulvinar placerat. Aenean
              et
              ornare velit. Pellentesque feugiat dolor sem, eu interdum sapien tincidunt ac. Phasellus euismod nunc ex,
              tincidunt condimentum nulla varius id.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="features">
    <div class="ml-4 mr-4">
      <div class="max-width">
        <div class="row">
          <div class="col-sm-12 col-md-7">
            <h3 class="default-title">You also can have <br>a great LAL Experience</h3>
            <p class="default-description">
              Sed tempus venenatis nulla, et <strong>@lenguasdegato</strong> vestibulum velit rhoncus sed. Etiam mi est,
              eleifend a sapien
              vitae, rhoncus ultrices augue. Suspendisse luctus quis odio id sollicitudin. Morbi suscipit elit quam, id
              tincidunt lacus interdum vulputate. Ut vulputate, nisl vel iaculis semper, elit nisl pulvinar massa, id
              aliquam nunc purus in lorem. Use our code <strong>#OJOSDEGATOLAL</strong> and get a $300 discount on your
              nxt
              course. Ut sed
              leo ut enim pharetra auctor. Suspendisse nisl enim, tempor et rutrum sed, consequat ac neque.
            </p>


            <div>
              <div class="container">
                <div class="row">
                  <div class="feature-item col-sm">
                    <img src="../assets/img/world.png">
                    <h4>People from all over the world</h4>
                    <p>Fusce eu sollicitudin dui. Ut quis nunc non purus ullamcorper efficitur vitae ac magna. Mauris
                      faucibus,
                      tellus quis gravida placerat, enim magna hendrerit ex, ac laoreet nisi risus id libero.</p>
                  </div>
                  <div class="feature-item lower col-sm">
                    <img src="../assets/img/chat-bubbles.png">
                    <h4>Learning and being together with the fans</h4>
                    <p>Curabitur a massa turpis. Vestibulum ultricies neque id mauris sagittis faucibus. Nulla blandit
                      augue
                      mi, non faucibus nisi dictum in. Nunc et ullamcorper lectus, nec porttitor elit. </p>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="feature-item col-sm">
                    <img src="../assets/img/world.png">
                    <h4>People from all over the world</h4>
                    <p>Fusce eu sollicitudin dui. Ut quis nunc non purus ullamcorper efficitur vitae ac magna. Mauris
                      faucibus,
                      tellus quis gravida placerat, enim magna hendrerit ex, ac laoreet nisi risus id libero.</p>
                  </div>

                  <div class="feature-item lower col-sm">
                    <img src="../assets/img/chat-bubbles.png">
                    <h4>Learning and being together with the fans</h4>
                    <p>Curabitur a massa turpis. Vestibulum ultricies neque id mauris sagittis faucibus. Nulla blandit
                      augue
                      mi, non faucibus nisi dictum in. Nunc et ullamcorper lectus, nec porttitor elit. </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12 col-md-5">
            <div class="big-img-container">
              <img class="big-img" src="../assets/img/classroom-students-adults-i-stock-613021814@2x.jpg">
            </div>
          </div>
        </div>

        <div class="bottom-features">
          <div class="row">
            <div class="col-md-5 col-12 bottom">
              <h3 class="default-title">Take a look at all the activities Cynthia has experienced with our students</h3>
              <p class="default-description">
                Nullam vehicula metus auctor augue aliquet commodo. Maecenas eget porta nibh. Etiam aliquam lorem vel
                ipsum
                convallis posuere nec sed est.
              </p>

              <div>
                <button class="outline-button">Know more about LAL at Winchester </button>
              </div>
            </div>
            <div class="col-md-7 col-12">
              <img class="horizontal-img" src="../assets/img/foto.jpg">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- CODE -->
  <section class="code">
    <h5>Use our code <strong class="stronger">#OJOSDEGATOLAL</strong> and get a <strong class="light">$300
        discount</strong>
      on your next course
      &nbsp; &#8594;</h5>
  </section>

  <!-- TESTIMONIALS -->
  <section class="testimonials">

    <app-testimonials></app-testimonials>

  </section>
  <!-- TESTIMONIALS -->

  <!-- PICK A COURSE -->
  <section class="pick-course">

    <app-pick-course></app-pick-course>

  </section>
  <!-- PICK A COURSE -->

  <footer>
    <div class="ml-4 mr-4">
      <div class="max-width">
        <div class="footer-container">
          <div class="inner">
            <div class="footer-circle"></div>
            <div>
              <span class="copyright"> Copyright © 2018</span>
            </div>
          </div>
          <div>
            <ul>
              <li><a href><i class="fab fa-facebook-f"></i></a></li>
              <li><a href><i class="fab fa-twitter"></i></a></li>
              <li><a href><i class="fab fa-youtube"></i></a></li>
              <li><a href><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
