<div class="ml-4 mr-4">
  <div class="max-width">
    <h4 class="default-title">Students Testimonials</h4>
    <p class="default-description">
      Discover our students' experience in the their own words
    </p>

    <div class="testimonial-container">

      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">

          <!-- TESTIMONIAL BOX -->
          <div class="testimonial-box">
            <h4>{{ slide.h4 }}</h4>
            <p>{{ slide.p }}</p>
            <div class="author-box">
              <img src="{{ slide.img }}">
              <div>
                <div class="author-name">{{ slide.name }}</div>
                <div class="author-detail">{{ slide.detail }}</div>
              </div>
            </div>
          </div>
          <!-- TESTIMONIAL BOX -->

        </div>
      </ngx-slick-carousel>

    </div>
  </div>
</div>
