<div class="ml-4 mr-4">
  <div class="max-widthdsadas">
    <div>
      <h3 class="default-title">Pick your next English Course</h3>
      <p class="default-description">
        LAL Winchester offers you <span class="underline">102 courses in to</span>tal and surely the right one for
        you
      </p>
    </div>
    <div class="pick-course-container">

      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">

          <!-- CARD -->
          <div class="card">
            <div class="card-layer">
              <p class="default">{{ slide.titulo }}</p>
              <p class="text">{{ slide.texto }}</p>
              <div class="outer-box">
                <a href="#" class="link">&#8594; Find out more</a>
              </div>
            </div>
            <img src="{{ slide.img }}">

            <div class="outer-box">
              <a href="#" class="default">{{ slide.titulo2 }}</a>
            </div>
          </div>
          <!-- CARD -->

        </div>
      </ngx-slick-carousel>

    </div>
  </div>
</div>
