html {
  background-color: #ffffff;
}

/**************************************/
/*            OVERRRIDE               */
/**************************************/
.container-fluid,
.container {
  padding: 0;
}

.container,
.row {
  margin: 0;
}

/* the slides */
.slick-slide {
  margin: 0 8px;
}

/* the parent */
.slick-list {
  margin: 0 -8px;
}


/**************************************/
/*                FONT                */
/**************************************/
i.fas,
i.fab {
  color: #adb5bd;
}

i.fas:hover,
i.fas:focus,
i.fab:hover,
i.fab:focus {
  color: #4263eb;
}

@font-face {
  font-family: 'Kitchen';
  src: url('/assets/fonts/KitchenRegular.woff2') format('woff2'),
    url('/assets/fonts/KitchenRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Campton Book';
  src: url('/assets/fonts/Campton-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/Campton-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Campton Book';
  src: url('/assets/fonts/Campton-Book.woff2') format('woff2'),
    url('/assets/fonts/Campton-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-SemiBoldItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-RegularItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-Bold.woff2') format('woff2'),
    url('/assets/fonts/Mont-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-Heavy.woff2') format('woff2'),
    url('/assets/fonts/Mont-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/Mont-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-Light.woff2') format('woff2'),
    url('/assets/fonts/Mont-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-ExtraLightItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Campton';
  src: url('/assets/fonts/Campton-ExtraBoldItalic.woff2') format('woff2'),
    url('/assets/fonts/Campton-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Campton';
  src: url('/assets/fonts/Campton-Medium.woff2') format('woff2'),
    url('/assets/fonts/Campton-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url('/assets/fonts/Campton-BlackItalic.woff2') format('woff2'),
    url('/assets/fonts/Campton-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-Thin.woff2') format('woff2'),
    url('/assets/fonts/Mont-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Mont Book';
  src: url('/assets/fonts/Mont-Book.woff2') format('woff2'),
    url('/assets/fonts/Mont-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-HeavyItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-ExtraLight.woff2') format('woff2'),
    url('/assets/fonts/Mont-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Campton Book';
  src: url('/assets/fonts/Campton-Bold.woff2') format('woff2'),
    url('/assets/fonts/Campton-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-BlackItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-Regular.woff2') format('woff2'),
    url('/assets/fonts/Mont-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-ThinItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-LightItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Campton';
  src: url('/assets/fonts/Campton-Black.woff2') format('woff2'),
    url('/assets/fonts/Campton-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Kitchen';
  src: url('/assets/fonts/KitchenLight.woff2') format('woff2'),
    url('/assets/fonts/KitchenLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mont Book';
  src: url('/assets/fonts/Mont-BookItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mont Hairline';
  src: url('/assets/fonts/Mont-Hairline.woff2') format('woff2'),
    url('/assets/fonts/Mont-Hairline.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url('/assets/fonts/Campton-ExtraLight.woff2') format('woff2'),
    url('/assets/fonts/Campton-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mont Hairline';
  src: url('/assets/fonts/Mont-HairlineItalic.woff2') format('woff2'),
    url('/assets/fonts/Mont-HairlineItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Kitchen';
  src: url('/assets/fonts/KitchenBold.woff2') format('woff2'),
    url('/assets/fonts/KitchenBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Mont-Black.woff2') format('woff2'),
    url('/assets/fonts/Mont-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/**************************************/
/*            TYPOGRAPHY              */
/**************************************/
h3.default-title {
  font-family: Mont;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.31;
  color: #4263eb;
}

h4.default-title {
  font-family: Mont;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--charcoal);
}

p.default-description {
  font-family: Campton;
  font-size: 18px;
  line-height: 1.56;
  color: var(--charcoal);
}

p.default-description strong {
  font-weight: bold;
  color: #4263eb;
}

p.default-description span.underline {
  /* height: 2px; */
  /* border: solid 2px #758ac3; */
  /* text-decoration: underline solid #758ac3; */
  border-bottom: 2px solid #758ac3;
}

/**************************************/
/*              GENERIC               */
/**************************************/
.max-width {
  max-width: 1140px;
  margin: auto;
}

/**************************************/
/*            HEADER                  */
/**************************************/

.hero {
  /* width: 1366px; */
  height: 728px;
  object-fit: contain;
  background-image: url("/assets/img/lenguasdegato.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.hero-language {
  height: 40px;
}

.hero-title {
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  font-family: Kitchen;
  font-size: 132px;
  text-align: center;
  /* padding-top: 184px; */
  padding-top: 9.5%;
}

.hero-subtitle {
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  font-family: Mont;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-top: 43px;
}

.navbar-nav {
  float: right;
  margin-bottom: 20px;
}

.hero-play {
  display: inline;
  margin: auto;
  text-align: center;
  position: relative;
}

.hero-play-img {
  height: 25px;
  width: 25px;
  margin-left: 6px;
  left: -5px;
}

.hero-play-circle {
  width: 72px;
  height: 72px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  margin: auto;
  text-align: center;
}

.hero-play-circle:hover,
.hero-play-circle:focus {
  background-color: #39C1F6;
}

.hero-play-text {
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  font-family: Campton;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  color: #fff;
  text-decoration: none;
}

.hero-play>a:hover,
.hero-play>a:focus {
  text-decoration: none !important;
}


/**************************************/
/*           SPECIAL GUEST            */
/**************************************/
.special-guest {
  /* max-width: 1140px; */
  border-radius: 2px;
  background-color: #4263eb;
  color: #fff;

  margin: auto;
  text-align: left;
  position: relative;
  top: -100px;
  padding: 41px 96px 56px 76px;
}

.special-guest h3 {
  font-family: Mont;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
}

.special-guest p {
  font-family: Campton;
  font-size: 18px;
  line-height: 1.56;
}

/**************************************/
/*              FEATURES              */
/**************************************/
.features {
  margin-bottom: 10%;
}

.features [class*="col-"] {
  padding: 0;
}

.features .big-img-container {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.features .big-img {
  max-width: 463px;
  max-height: 532px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: -40px;
  float: right;
}

.features .default-description {
  max-width: 561px;
  margin-right: 7%;
  margin-bottom: 60px;
}

.feature-item {
  max-width: 258px;
  margin-right: 46px;
  /* display: inline-block; */
  margin-bottom: 40px;
}

.feature-item.lower {
  margin-top: 8px
}

.feature-item img {
  width: 48px;
  height: 48px;
  margin-bottom: 25px;
}

.feature-item h4 {
  /* width: 258px;
  height: 72px; */
  font-family: Mont;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--charcoal);
}

.feature-item p {
  /* width: 258px;
  height: 190px; */
  font-family: Campton;
  font-size: 16px;
  line-height: 1.5;
  color: #868e96;
}

.features .horizontal-img {
  max-width: 657px;
  max-height: 437px;
  width: 100%;
}

.features .outline-button {
  max-width: 397px;
  width: 100%;
  /* height: 51.1px; */
  border-radius: 1px;
  border: solid 1px #4263eb;
  background-color: transparent;

  font-family: Mont;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #4263eb;

  padding: 18px 0;
}

.features .outline-button:hover,
.features .outline-button:focus {
  background-color: #4263eb;
  color: #fff;
}

.features .bottom-features {
  margin-top: 35px;
  /* display: flex;
  align-items: flex-end;
  justify-items: flex-end; */
}



/**************************************/
/*                 CODE               */
/**************************************/
.code {
  /* width: 1368px;
  height: 73px; */
  border-radius: 1px;
  background-color: #4263eb;
  padding: 0 25px;
  margin: 60px 0;
}

.code h5 {
  font-family: Campton;
  font-size: 18px;
  font-weight: 200;
  color: #ffffff;
  padding: 32px 0;
  text-align: center;
}

.code h5 strong.light {
  /* font-size: 20px; */
  font-weight: bold;
}

.code h5 strong.stronger {
  /* font-size: 24px; */
  font-weight: bold;

}


/**************************************/
/*            TESTIMONIALS            */
/**************************************/
.testimonials {
  margin-bottom: 100px;
}

.testimonial-container {
  /* display: flex;
  align-items: flex-start;
  justify-content: space-between; */
}

.testimonial-box {
  max-width: 561px;
  /* height: 374px; */
  width: 100%;
  border-radius: 1px;
  border-bottom: #dee2e6 solid 2px;
  background-image: url("/assets/img/quote.png");
  background-repeat: no-repeat;
  background-position: left top;

  padding: 34px 45px 47px 35px;
  /* margin: 0 5%; */
  margin-right: 50px;
  margin-bottom: 21px;
}

.testimonial-box h4 {
  width: 100%;
  height: 72px;
  font-family: Mont;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.64;
  color: var(--charcoal);
  margin-bottom: 28px;
}

.testimonial-box p {
  width: 100%;
  height: 148px;
  font-family: Campton;
  font-size: 16px;
  line-height: 1.5;
  color: var(--charcoal);
}

.testimonial-box .author-box {
  display: flex;
  align-items: center;

  /* margin-top: 15px; */
}

.testimonial-box .author-box img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #d8d8d8;
  margin-right: 30px;
}

.testimonial-box .author-box .author-name {
  /* width: 144px; */
  height: 19px;
  font-family: Campton;
  font-size: 18px;
  font-weight: 500;
  color: var(--charcoal);
}

.testimonial-box .author-box .author-detail {
  /* width: 80px; */
  height: 17px;
  font-family: Campton;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #adb5bd;

  margin-top: 10px;

}

/**************************************/
/*             PICK COURSE            */
/**************************************/
.pick-course {
  margin: 50px 0 50px 90px;
  padding-bottom: 90px;
}

.pick-course-container {
  margin-top: 40px !important;
}

.pick-course-container .card {
  width: 273px;
  height: 207px;
  border-radius: 1px;
  border: solid 1px #dee2e6;

  margin: 0;
  display: block;
}

.pick-course-container .card .card-layer {
  width: 100%;
  height: 100%;
  padding: 15px 13px;

  position: absolute;
  left: 0px;
  top: 0px;
  /* cursor: pointer; */

  display: none;
}

.pick-course-container .card .card-layer .text {
  height: 90px;
}

.pick-course-container .card:hover .card-layer,
.pick-course-container .card:focus .card-layer {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), #ffffff);
  display: block;
}

.pick-course-container .card img {
  width: 100%;
  height: 150px;
}

.pick-course-container .card .outer-box {
  height: 57px;
  width: 100%;

  margin: 15px 13px;
}

.pick-course-container .card .card-layer .outer-box {
  text-align: right;

  margin: 0;
}

.pick-course-container .card .default {
  font-family: Mont;
  font-size: 16px;
  font-weight: 600;
  color: var(--charcoal);
}

.pick-course-container .card a.link {
  font-family: Mont;
  font-size: 16px;
  color: #758ac3;
}


/**************************************/
/*               FOOTER               */
/**************************************/
footer {
  background-color: #f8f9fa;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 40px;
  padding-bottom: 70px;
}

.footer-container .inner {
  display: flex;
  align-items: center;
}

.footer-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000;
  margin-right: 15px;
}

footer .copyright {
  font-family: Campton;
  font-size: 16px;
  line-height: 1.5;
  color: var(--charcoal);

}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  display: inline;
  margin: 0 8px;
}


/**************************************/
/*            MEDIA QUERIES           */
/**************************************/
/*1rem = 16px*/

/* Selectors and styles affecting screens UP TO 989px (Desktop) */
@media (max-width: 989px) {
  .hero {
    height: 658px;
  }

  .feature-item {
    margin-right: 7%;
    margin-bottom: 3%;
  }

  .feature-item.lower {
    margin-right: 0;
  }

  .features .horizontal-img {
    padding-left: 40px;
  }

  .testimonial-box h4 {
    height: 92px;
  }

  .testimonial-box p {
    height: 198px;
  }

  .pick-course {
    margin: 0;
  }
}


/* Selectors and styles affecting screens UP TO 767px (Tablet) */
@media (max-width: 767px) {

  .hero {
    height: 588px;
  }

  .hero-title {
    font-size: 7.25rem;
    /* padding-top: 184px; */
    padding-top: 9.5%;
  }

  .hero-subtitle {
    font-size: 2.32rem;
    margin-top: 43px;
  }

  .special-guest {
    /* top: -110px; */
    padding: 6% 2.5%;
  }

  .feature-item {
    margin: auto;
    max-width: 100%;
  }

  .feature-item.lower {
    margin-right: 0;
    margin-top: 0;
  }

  .features .big-img {
    margin-top: 0px;
    float: none;

    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

  .features .horizontal-img {
    margin-top: 40px;
  }

  .features .bottom-features .bottom>div {
    margin: auto;
    text-align: center
  }

  .features .horizontal-img {
    padding-left: 0;
  }

  .testimonial-box h4 {
    height: 122px;
    font-size: 18px;
  }

  .testimonial-box p {
    height: 258px;
  }

}

/* Selectors and styles affecting screens UP TO 480px (Phone) */
@media (max-width: 480px) {

  .hero {
    height: 428px;
  }

  .hero-title {
    font-size: 4.3rem;
    /* padding-top: 184px; */
    padding-top: 9.5%;
  }

  .hero-subtitle {
    font-size: 1.72rem;
    margin-top: 1.5rem;
  }

  .special-guest {
    top: -70px;
    padding: 6% 2.5%;
  }

  .special-guest h3 {
    font-size: 1.5rem;
  }

  .features .horizontal-img {
    padding-left: 0;
  }

  .testimonial-box {
    padding: 3% 4%;
  }

  .testimonial-box h4 {
    height: 92px;
    font-size: 22px;
  }

  .testimonial-box p {
    height: 208px;
  }

  .footer-container {
    justify-content: center;
    padding-bottom: 30px;
  }

  .footer-container .inner {
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
  }


}
